*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    background-color: darkslateblue;
}

header{
    background-color: mediumpurple;
    height: 50px;
    margin-bottom: 10px;
}
.box{
    width: 50px;
    height: 50px;
    background-color: darkgrey;
    float: left;
    border: 1px solid black;

}

.box:hover{
    background-color: rgb(204, 202, 202);
}
